boto3==1.4.6
botocore==1.6.5
certifi==2017.7.27.1
chardet==3.0.4
docutils==0.14
idna==2.6
jmespath==0.9.3
olefile==0.44
Pillow==9.3.0
python-dateutil==2.6.1
requests==2.18.4
s3transfer==0.1.10
six==1.10.0
urllib3==1.22
